<%= erb :header %>
  <!-- Begin page content -->
  <div class="container">
                  <%if @error then %>
                      <div class="alert alert-error"><%=@error%></div>
                  <% end %>
                  <%= yield %>
  </div>
<!-- this div closes header wrapper -->
</div>

<%= erb :footer %>
